{% extends '::default/base.html.twig' %}
{% block rightMenu %}

    {{ include('::commonsFiles/rightMenu.html.twig') }}


{% endblock %}

{% block leftMenu %}
    {{ include('::commonsFiles/searchMenu.html.twig') }}
    <h1 style="display: inline"><span class="glyphicon glyphicon-info-sign rTCPinkText"></span></h1>
    <p>

        <em>
            Vous gérez un lieu très fréquenté?
            <br/>
            Créez un espace dédié.<br/>
            Vos clients/visiteurs pourront y retrouver
            leurs objets perdus chez vous<br/>

        </em>
    </p>

    <input type="submit" class="btn rTCGreen" value="C'est par là"/>
{% endblock %}

{% block location %}
    {#<a href="{{ path('r_tc_homepage') }}" class="rTCBlackText">Acceuil>></a>#}

    <li><a href="{{ path('_lostbook_homepage') }}">{{ "header.home"|trans }}</a></li>
    {% if afficherRecherche == FALSE %}
    <li class="active">{{ "index.toutes_les_annonces"|trans }}(<span class="rTCPinkText"><strong>{{ pagination.getTotalItemCount }}</strong></span>)</li>
    {% else %}
            <li class="active">{{ "index.resultat_recherche"|trans }}(<span class="rTCPinkText"><strong>{{ pagination.getTotalItemCount }}</strong></span>)</li>
    {% endif %}
{% endblock %}

{% block section %}             

    {{ include('::commonsFiles/rechercheAnnoncesForm.html.twig') }}  
    
    <br/>
    
    <span class="label label-success">{{ message }}</span>
    
    {# table body #}
    <div class="row">

        <div class="col-xs-12 col-sm-12">
            {% if pagination | length != 0 %}
                {% for i,annonce in pagination %}

                    <div class="col-xs-12 col-sm-4">
                        <div class="thumbnail" style='height:360px;'>
                            {% if annonce.imagePrincipale != NULL  %}
                                {% set location = ['uploads/documents/annonces/',annonce.imagePrincipale ] | join %}
                            {% else %}
                                {% set location = 'img/espace.png' %}
                            {% endif %}
                            <a href="{{ path('_lostbook_details_annonce',{ 'idAnnonce':annonce.id }) }}"> <img src="{{ asset(location|imagine_filter('main_thumb')) }}" alt="image" ></a>
                            <div class="caption">
                                {% if annonce.avecRecompense %}
                                
                                <p>
                                    <span class="rTCPinkText glyphicon glyphicon-usd pull-right"></span>
                                </p>
                                {% endif %}
                                <h4 class='rTCGreenText'>{{ annonce.titre|truncate(30) }}</h4>
                                <p>{{ annonce.commentaire|truncate(50)  }}</p>
                                <p><a href="{{ path('_lostbook_details_annonce',{ 'idAnnonce':annonce.id }) }}" class="btn rTCGreen rTCWhiteText" role="button">Afficher</a></p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <p>
                    <img src="{{asset('img/nothing_found.png') }}" class='img img-responsive' style='display:inline;background-color:black'/> AUCUNE ANNONCE TROUVEE. 
                </p>

            {% endif %}

        </div>

    </div>

    {# display navigation #}
    <div class="row">

        <div class="col-xs-12 col-sm-12  navigation">
            <center>
                {{ knp_pagination_render(pagination) }}
            </center>
        </div>
    </div>


{% endblock %}

{% block news %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.full.js') }}"></script>
    <script src="{{ asset('js/custom/index.js') }}"></script>
    <script src="{{ asset('js/validator.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
    <script>

        $(document).ready(function ($) {
            
            
            $("#linkToutesLesAnnonces").removeClass("rTCWhiteText"); 
            $("#linkToutesLesAnnonces").addClass("rTCBlackText"); 
            $('#dateDebut').datetimepicker({
                format: 'DD/MM/YYYY',
                locale: 'fr'
            }
            );
            $('#dateFin').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/YYYY',
                locale: 'fr'
            }
            );
            $("#dateDebut").on("dp.change", function (e) {
                $('#dateFin').data("DateTimePicker").minDate(e.date);
            });
            $("#dateFin").on("dp.change", function (e) {
                $('#dateDebut').data("DateTimePicker").maxDate(e.date);
            });
            
             $("#rechercheAnnonces_ville").select2(
                    {
                        containerCssClass: 'tpx-select2-container',
                        dropdownCssClass: 'tpx-select2-drop'
                    });
            
            var $ville = $('#rechercheAnnonces_ville');
// When sport gets selected ...
            $ville.change(function () {
                // ... retrieve the corresponding form.
                $("#loading").attr('hidden', false);
              if($("#rechercheAnnonces_espace").data('select2'))
              {
              $("#rechercheAnnonces_espace").select2("destroy");
          }
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[$ville.attr('name')] = $ville.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        
                        $('#rechercheAnnonces_espace').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#rechercheAnnonces_espace')
                                );
                                                            
                        // Position field now displays the appropriate positions.
                        $("#rechercheAnnonces_espace").select2(
                                {
                                    containerCssClass: 'tpx-select2-container',
                                    dropdownCssClass: 'tpx-select2-drop'
                                }
                    );
                                $("#loading").attr('hidden', true);
                    }
                });
                
                
            });
            
        });
    </script>
{% endblock %}
