{% trans_default_domain 'FOSUserBundle' %}

<form  class="form-horizontal well" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
   
        {{ form_row(form._token) }}
        <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">
            {{ "form.username"|trans }}
        </label>
        <div class="col-xs-12 col-sm-4">
            {{ form_widget(form.username,{'attr':{'class':'form-control'} }) }}
        </div>
        <div class="col-xs-12 col-sm-5">
            <span style="color:red">{{ form_errors(form.username) }}</span>
        </div>
    </div>
    <div class="form-group">               
        <label class="col-xs-12 col-sm-3 control-label">
            {{ "form.email"|trans }}
        </label>
        <div class="col-xs-12 col-sm-4">
            {{ form_widget(form.email,{'attr':{'class':'form-control'} })}}
        </div>
         <div class="col-xs-12 col-sm-5">
            <span style="color:red">{{ form_errors(form.email) }}</span>
        </div>

    </div>

    <div class="form-group">                
        <label class="col-xs-12 col-sm-3 control-label">
            {{ "form.current_password"|trans }}
        </label>

        <div class="col-xs-12 col-sm-4">
            {{ form_widget(form.current_password,{'attr':{'class':'form-control'} }) }}
        </div>
         <div class="col-xs-12 col-sm-5">
            <span  class="control-label" style="color:red">{{ form_errors(form.current_password) }}</span>
        </div>
    </div>
    <div class="form-group">

            <label class="col-xs-12 col-sm-3 control-label">Téléphone 1</label>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.telephone1,{'attr':{'class':'form-control'} }) }}
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group">

            <label class="col-xs-12 col-sm-3 control-label">Téléphone 2</label>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.telephone2,{'attr':{'class':'form-control'} }) }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
         
         <div class="form-group">

            <label class="col-xs-12 col-sm-3 control-label">Photo</label>
           <div class="col-xs-12  col-sm-8 dropzone" id="dropzone" style='width:30%'>

            </div>
            
                <div class="col-xs-12 col-sm-4">
                    {% if app.user.photo != null %}
                                    <img class="img img-thumbnail  img-responsive" src="{{ asset( ['uploads/documents/utilisateurs/',app.user.photo] | join|imagine_filter('avatar') ) }} " style="padding: 0px;display: inline"/>
                    {% endif %}
                                    
                              
                                
                </div>
        </div>

        
             <div class="form-group">
        <div class="col-xs-12 col-sm-offset-3">
            <input type="submit" class="btn rTCGreen" value='{{'profile_edit.submit'|trans}}'/>
        </div>

    </div>
</form>
