{% extends '::default/base.html.twig' %}
{% block location %}
    <li><a href="{{ path('_lostbook_homepage') }}" class="rTCBlackText">Acceuil</a></li>
    <li class="active">{{ annonce.titre }}</li>
    {% endblock %}

{% block rightMenu %}

    {{ include('::commonsFiles/rightMenu.html.twig') }}

{% endblock %}

{% block section %}

    <div class="row">
        <div class="col-xs-12">
            <h1 class="rTCBlackText">{{ annonce.titre }}</h1>

        </div>
    </div>
    <div class="row">

        <div class="col-xs-3 col-xs-offset-9">

            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i>                           </a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                {% if code == -1 %}
                    <span class="alert-danger alert-dismissible">{{ message|trans }}</span>
                {% endif %}

            </h3>
        </div>
    </div>



    <div class="row" style="padding-top:50px;">
        <div class="col-xs-12 col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Détails</a></li>
                <li role="presentation"><a href="#commentaires" aria-controls="commentaires" role="tab" data-toggle="tab">Commentaires</a></li>
                <li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="main">
                    <div class="row">
                        <div class="col-xs-12  col-sm-6 col-sm-offset-3" id="pgwSlideshow">

                            <ul>
                                {% for document in annonce.medias %}
                                    {% set location = ['uploads/documents/annonces/',document.path ] | join %}
                                    <li><img class="media-object img-thumbnail img-responsive" src="{{ asset(location | imagine_filter('my_thumb')) }}" width='400'/></li>
                                    {% endfor %}
                            </ul>

                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">


                            {{ annonce.commentaire }}


                        </div>
                    </div>
                                <div class="row" style="padding-top:25px;">
        <div class="col-xs-12 col-sm-6">
            <p>
                <a class="btn btn-social-icon rTCGreenText"> <i class="fa fa-user"></i></a> 
                {% if annonce.utilisateur != null %}
                    Publiée par <a> {{ annonce.utilisateur.username  }} </a>
                {% endif %}
                    
                      <br/>  
                <a class="btn btn-social-icon rTCBlackText"><i class="glyphicon glyphicon-time"></i></a> Publié {{ annonce.dateCreation | time_ago_in_words(false,true) | trans }} <br/>
                <a class="btn btn-social-icon rTCPinkText"><i class="glyphicon glyphicon-eye-open"></i></a> Vue {{ annonce.nombreVues }} fois<br/>
                <a class="btn btn-social-icon rTCGreenText" href=""><i class="glyphicon glyphicon-home"></i></a>
                {% if annonce.espace != NULL %}
                <a href="{{ path('_lostbook_details_espace',{'idEspace':annonce.espace.id }) }}">{{ annonce.espace.nom }}
                </a>
                {% else %}
                  AUCUN ESPACE
                {% endif %}
                </span><br/>

                <span class="rTCPinkText">VILLE</span>: {{ annonce.ville.libelle }}
                


            </p>
        </div>



        <br/> 
    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="commentaires">
                    
                        <form class="form-horizontal well" data-toggle='validator' id="nouveauCommentaire" style="padding-top: 50px;">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Commentaire</label>
                                <div class="col-xs-12 col-sm-8">
                                    <textarea class="form-control" id="commentaire" name="commentaire" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4">
                                    <input type="submit" class="btn btn-primary" value="soumettre"/>
                                    <input type="hidden" value="{{ annonce.id }}" id="idAnnonce" name="idAnnonce"/>
                                </div>
                            </div>
                        </form>
                    
                       
                    <div id="commentairesItems" style="padding-top: 50px;" class="scrollit-xs">
                        {% for commentaire in annonce.commentaires %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <blockquote>
                                        <p>{{ commentaire.commentaire }}</p>

                                        <footer>
                                            <strong>{{ commentaire.pseudo }}, le {{ commentaire.date | date }}</strong>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div> 
                        {% endfor %}
                    </div>


                </div>
                <div role="tabpanel" class="tab-pane" id="contacts">
                  {% if annonce.utilisateur != null %}
                        <div 
                            {% if annonce.meContacter == FALSE %}
                                style='display:none'
                            {% endif %}>
                            <h4>Téléphone</h4>
                            <dl class="dl-horizontal">
                                <dt><a class="btn btn-social-icon btn-success"><i class="fa fa-phone"></i></a></dt>
                                <dd style="padding: 10px;"><a href="tel:{{ annonce.utilisateur.telephone1 }}">{{ annonce.utilisateur.telephone1 }}</a></dd>
                                <dt><a class="btn btn-social-icon btn-success"><i class="fa fa-phone"></i></a></dt>
                                <dd style="padding: 10px;"><a href="tel:{{ annonce.utilisateur.telephone2 }}">{{ annonce.utilisateur.telephone2 }}</a></dd>

                            </dl>
                        </div>
                        <div>
                            <h4>Email</h4>
                            <dl class="dl-horizontal">
                                <dt><a class="btn btn-social-icon btn-success"><i class="fa fa-envelope"></i></a></dt>
                                <dd style="padding: 10px;"><a data-toggle="modal" data-target="#contactModal">Contacter par email</a></dd>
                               

                            </dl>
                        </div>
                   {% endif %}
                        
                        </div>
                    </div>
                </div>
            </div>

                   
            <div class="row" style="padding-top:50px;">
                {% if annonce.utilisateur == app.user or is_granted('ROLE_ADMIN') %}
                <div class="col-xs-12 col-sm-5 pull-left">
                    <h4>
                        <a href="{{ path('_lostbook_update_annonce',{'idAnnonce':annonce.id}) }}" class="rTCBlackText"><span class="glyphicon glyphicon-edit rTCGreenText"></span> Modifier l'annonce</a>
                    </h4>
                </div>
     
                <div class="col-xs-12 col-sm-5">
                    <h4>
                        <a href="{{ path('_lostbook_delete_annonce',{'idAnnonce':annonce.id}) }}" class="rTCBlackText"><span class="glyphicon glyphicon-trash rTCPinkText"></span> Supprimer l'annonce</a>
                    </h4>
                </div>
                {% endif %}

            </div>

                <input type="hidden" id ="pseudo" value="{{ app.user.username }}"/>
                 {{ include('::commonsFiles/contactForm.html.twig') }}
            {% endblock %}


            
                {% block javascripts %}
                    {{ parent() }}
                    <script src="{{ asset('js/tiksluscarousel.js') }}"></script>
                    <script src="{{ asset('js/validator.js') }}"></script>
                    <script src="{{ asset('js/custom/detailsAnnonce.js') }}"></script>
                    <script>
                        $(document).ready(function () {
                            $('#pgwSlideshow').tiksluscarousel({
                                height: 0,
                                autoPlay: false

                            });
                        });
                    </script>
                {% endblock %}
