{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
{% block location %}

    <li class="active">SECURITE-INSCRIPTION ></li>

 {% endblock %}
 
 {% block rightMenu %}

     <p>
        <h2 style='display:inline'><span class="glyphicon glyphicon-question-sign rTCGreenText"></span></h2>
        <strong>Pourquoi devez vous fournir vos informations personnelles?</strong>
        <br/>
        
        Lorsqu'une nouvelle annonce est créee, freefinder fait une correspondance entre les informations
        sur celle-ci et les informations des utilisateurs inscrits. <br/>
        Ainsi à chaque fois qu'une annonce concernant vos informations personnelles sera publiée
        vous serez notifié.

        </p>


{% endblock %}

{% block javascripts %}
    {{ parent() }}  
    <script src="{{ asset('js/dropzone.js') }}"></script>

    <script>
        $(document).ready(function () {
            $("#dropzone").dropzone({
                url: "{{ oneup_uploader_endpoint('gallery') }}",
                addRemoveLinks: true,
                dictDefaultMessage: "{{ "nouvelle_annonce_form.photos.instruction"|trans }}",
                dictRemoveFile: "{{ "nouvelle_annonce_form.photos.supprimer"|trans }}",
                acceptedFiles: "image/*",
                maxFilesize: 10,
                maxThumbnailFilesize: 5
            });
           
        });
    </script>
    {% endblock %}
    
    