<nav class="navbar rTCBlack navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle rTCWhite" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar rTCBlack"></span>
                <span class="icon-bar rTCBlack"></span>
                <span class="icon-bar rTCBlack"></span>
            </button>
            <a class="navbar-brand rTCWhiteText" href="{{ path('_lostbook_homepage') }}">rTC</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-collapsible">

           
            <ul class="nav navbar-nav hidden-xs hidden-sm">
                
               
                    <li>
                       <a role="button" class="dropdown-toggle rTCWhiteText" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                        MENU
                    </a> 
                        <ul class='dropdown-menu navbar-default' role='menu' aria-labelledby ='dropdownMenu2'>
                             <li >
                        <a id="linkToutesLesAnnonces"  href="{{ path('_lostbook_homepage') }}" class="rTCWhiteText">
                            TOUTES LES ANNONCES
                        </a>
                    </li>
                    <li role="presentation" class="divider"></li>
                   
                    <li>
                        <a  href="{{ path('_lostbook_espaces_index') }}" class=" rTCWhiteText">
                            ESPACES DEDIES
                        </a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li>
                        <a role="button" href="{{ path('_faqs') }}" class="rTCWhiteText">
                            FAQ & ASTUCES</a>
                    </li>  
                        </ul>
                    </li>
                    
                

            </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                <li>
                <a class="rTCGreenText"  value="" href="{{ path('_lostbook_nouvelle_annonce') }}"><span class="rTCGreenText">J'AI TROUVE UN OBJET</span></a>
                </li>
                <li>
                  <a class="rTCPinkText"  value="" href="{{ path('_lostbook_new_lost') }}"><span class="rTCPinkText">J'AI PERDU UN OBJET</span></a>
                </li>
                <li>
                  <a class="rTCWhiteText" value="" href="{{ path('_lostbook_nouvel_espace') }}">  NOUVEL ESPACE DEDIE</a>
                </li>
                {% if app.user %}
                    <li class="pull-right">
                        <a role="button" href="{{ path('fos_user_profile_show') }}" class="rTCWhiteText">

                            <span class="glyphicon glyphicon-user"></span>                               
                            {{ app.user.username }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a role="button" class="dropdown-toggle rTCWhiteText" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        PARAMETRES
                    </a>
                    <ul class="dropdown-menu navbar-default" role="menu" aria-labelledby="dropdownMenu1">
                        {% if not app.user %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_login') }}" class="rTCWhiteText">
                                    <span class="glyphicon glyphicon-log-in"></span> CONNEXION / INSCRIPTION
                                </a>
                            </li>

                            <li role="presentation" class="divider"></li>
                            {% endif %}
                            {% if app.user %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user rTCGreenText"></span> {{ 'header.edit_profil'|trans|upper }}</a></li>
                            <li role="presentation" class="divider"></li>
                            {% endif %}
                            {% if app.user %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-log-out"></span> {{ 'header.logout'|trans }}</a></li>
                            <li role="presentation" class="divider"></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('sonata_admin_redirect') }}"><span class="glyphicon glyphicon-user rTCGreenText"></span> ADMINISTRATION</a></li>
                            <li role="presentation" class="divider"></li>
                            {% endif %}
                       


                    </ul>
                </li>
            
                </ul>
            <ul class="nav navbar-nav-right visible-sm  visible-xs">               
                                    
                
                
                    <li>
                    <a class="rTCGreenText"  value="" href="{{ path('_lostbook_nouvelle_annonce') }}"><span class="rTCGreenText">J'AI TROUVE UN OBJET</span></a>
                    </li>
                    <li>
                    <a class="rTCPinText"  value="" href="{{ path('_lostbook_new_lost') }}"><span class="rTCPinkText">J'AI PERDU UN OBJET</span></a>
                    </li>
                
                <li>
                    <a href="{{ path('_lostbook_homepage') }}" class="rTCWhiteText">
                        TOUTES LES ANNONCES
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                    <a  href="{{ path('_lostbook_espaces_index') }}" class="rTCWhiteText">
                       ESPACES DEDIES
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                    <a  href="{{ path('_faqs') }}" class="rTCWhiteText">
                    FAQ &  ASTUCES</a>
                </li>  

                {% if not app.user %}
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_login') }}" class="rTCWhiteText">
                            CONNEXION / INSCRIPTION
                        </a>
                    </li>

                    <li role="presentation" class="divider"></li>
                {% endif %}

                {% if app.user %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="rTCWhiteText">MON PROFIL</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="rTCWhiteText">DECONNEXION</a></li>
                {% endif %}
                
                <li role="presentation">
                      <a value="" href="{{ path('_lostbook_nouvel_espace') }}" class="rTCWhiteText">NOUVEL ESPACE DEDIE</a>
                </li>
              
                
              
            </ul>

            
        </div>

    </div>
</nav>