<div id="accordion" class="panel-group" style='padding-left: 15px;'>
            <a  data-toggle="collapse"  data-parent="#accordion" href="#formulaire" class="btn rTCGreen rTCWhiteText">
                    <span class='glyphicon glyphicon-search'></span>
                 </a>  
       

        <div class="panel-collapse collapse" id="formulaire">
            <div class="panel-body">

                {{ form_start(form, {'attr':{'class':'form-horizontal','data-toggle':'validator','role':'form'} }) }}
                {{ form_errors(form) }}

               
                    <div class="form-group">

                        <div class="co-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">{{ "recherche_espace.ville"|trans|upper }}</span>
                                {{ form_widget(form.ville,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon">{{ "recherche_espace.nom"|trans|upper }}</span>
                                {{ form_widget(form.espace,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    <div class="col-sm-1" id="loading" hidden><img src="{{ asset('img/ajax_loader.gif') }}" height="30" width="30"/></div>

                    </div>
                        
                    <div class="form-group">
                        
                        <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                            <button type="submit" class="btn rTCGreen"><span class="glyphicon glyphicon-search"></span> {{ "index.chercher"|trans|upper}}</button>
                        </div>
                    </div>
               
            </div>
        </div>

        {{ form_end(form) }}
    </div>
