<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#formulaire">
                   + {{ "index.options_recherche"|trans|upper }}
                    </a>
               
            </h4>
        </div>

        <div class="panel-collapse collapse" id="formulaire">
            <div class="panel-body">

                {{ form_start(form, {'attr':{'class':'form-horizontal','data-toggle':'validator','role':'form'} }) }}
                {{ form_errors(form) }}

               
                    <div class="form-group">

                        <div class="co-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">{{ "index.nature"|trans|upper }}</span>
                                {{ form_widget(form.ville,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">{{ "index.categorie"|trans|upper }}</span>
                                {{ form_widget(form.nom,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-sm-6">
                            <div class="input-group date" id="dateDebut">
                                <span class="input-group-addon">{{ "index.du"|trans|upper }}</span>
                                {{ form_widget(form.debut,{'attr':{'class':'form-control'} }) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>       


                        <div class="col-sm-6">
                            <div class="input-group date" id="dateFin">
                                <span class="input-group-addon">{{ "index.au"|trans|upper }}</span>
                                {{ form_widget(form.fin,{'attr':{'class':'form-control'} }) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                 

                    <div class="form-group">
                        
                        <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                            <button type="submit" class="btn rTCGreen"><span class="glyphicon glyphicon-search"></span> {{ "index.chercher"|trans|upper}}</button>
                        </div>
                    </div>
               
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>