{% extends '::default/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tiksluscarousel.css') }}" />

{% endblock %}
{% block location %}
    <li><a href="{{ path('r_tc_homepage') }}" class="rTCBlackText">Acceuil</a></li>
    <li class="active">Annonce - {{ annonce.id }}</li>
    {% endblock %}

{% block rightMenu %}

    {{ include('::commonsFiles/rightMenu.html.twig') }}
    
{% endblock %}

{% block section %}
    <div class="row row-content">
    <h1 class="rTCBlackText">{{ annonce.titre }}</h1>
    <br/>
    <p>
        Publiée il y'a   par 
    </p>
    <br/>            
     <div class="col-xs-12 col-sm-offset-1 col-sm-9" id="pgwSlideshow" >
     
            <ul>
                    {% for document in annonce.medias %}
                        {% set location = ['uploads/documents/annonces/',document.path ] | join %}
                        <li><img class="media-object img-thumbnail" src="{{ asset(location | imagine_filter('my_thumb')) }}"/></li>
                    {% endfor %}
            </ul>
    
    </div>
     </div>
    
    <div>
     <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>
{% endblock %}

{% block news %}

{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/tiksluscarousel.js') }}"></script>
        <script>
        $(document).ready(function() {
        $('#pgwSlideshow').tiksluscarousel({
                height :0,
                nav : 'thumbnails'

        });
        });
        </script>
{% endblock %}
