{% extends '::default/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tiksluscarousel.css') }}" />

{% endblock %}
{% block location %}
    <li><a href="{{ path('_lostbook_homepage') }}">Acceuil</a></li>
    <li><a href="{{ path('_lostbook_espaces_index') }}">{{ "espaces.tous_les_espaces"|trans }}</a></li>
    <li class="active">{{ espace.nom }}</li>
    {% endblock %}

{% block rightMenu %}

    {{ include('::commonsFiles/rightMenu.html.twig') }}

{% endblock %}

{% block section %}


    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">A propos de l'espace</a></li>
                <li role="presentation" class="active"><a href="#annonces" aria-controls="annonce" role="tab" data-toggle="tab">Annonces(<span class="rTCGreenText">{{ pagination.getTotalItemCount }})</span></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="about">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div style="padding-top:30px;">
                            <h3>{{ espace.nom }}</h3>
                            {% set location = ['uploads/documents/espaces/',espace.imagePrincipale ] | join %}
                            <center>
                             <img class="media-object img-thumbnail" src="{{ asset(location|imagine_filter('main_thumb')) }}" alt="image" >
                            </center>
                             <p>
                             <dl class="dl-horizontal">
                                 <dt>{{ "details_espace.nombre_annonces"|trans }}</dt><dd>{{ espace.nombreAnnonces }}</dd>
                                 <dt>{{ "details_espace.date_creation"|trans }}</dt><dd>{{ espace.dateCreation | date() }}</dd>
                                 <dt>{{ "details_espace.ville"|trans }}</dt><dd>{{ espace.ville.libelle }}</dd>
                                 <dt><span class="glyphicon glyphicon-eye-open"></span></dt><dd>{{ espace.nombreVisites }}</dd>
                             </dl>
                            </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            
                            <div style="padding-top:100px;">
                            <blockquote>
                                <header>
                                    <h4>{{ "details_espace.description"|trans }}</h4>
                                </header>
                                <footer>
                                {{ espace.description }}
                                </footer>
                            </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="annonces">
                    <div class="row">
        <ul class="media-list">
                    <div class="col-xs-12 col-sm-12">
        {% for annonce in pagination %}

              
                
                <div class="media table-hover">
                    <div class="media-left media-middle">
                        {% if annonce.imagePrincipale != NULL  %}
                            {% set location = ['uploads/documents/annonces/',annonce.imagePrincipale ] | join %}
                            <a href="{{ path('_lostbook_details_annonce',{ 'idAnnonce':annonce.id }) }}">
                                <img class="media-object img-thumbnail" src="{{ asset(location|imagine_filter('main_thumb')) }}" alt="image" >
                            </a>
                        {% endif %}
                    </div>

                    <div class="media-body">
                        <h3 class="media-heading rTCGreenText">{{ annonce.titre }}</h3>                                                     
                        <p>{{ annonce.commentaire  }}</p>
                        <br/><br/><br/>
                    </div>


                </div>
            
        {% endfor %}
        </div>
        </ul>
    </div>
        <div class="row">

        <div class="col-xs-6  navigation pull-right">
            <center>
                {{ knp_pagination_render(pagination) }}
            </center>
        </div>
    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tiksluscarousel.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#pgwSlideshow').tiksluscarousel({
                height: 0,
                nav: 'thumbnails'

            });
        });
    </script>
{% endblock %}
