{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    <legend>{{ 'security.login.submit'|trans }}</legend>
    
    <input type="hidden" name="_csrf_token"  value="{{ csrf_token }}" />
    <div class="col-xs-12 col-sm-6">
        <p><strong>Pas encore inscrit?</strong></p>
        <em>Nous vous invitons à le faire afin<br/> de profiter de notre service</em>
        <br/>
        <br/>
        <a role="button" class="btn rTCPink rTCBlackText" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
    </div>
    
    <div class="col-xs-12 col-xs-6">
    <div class="form-group">   
    <label class='col-sm-6 control-label' for="username">{{ 'security.login.username'|trans }}</label>
    <div class='col-sm-6'>
    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
    </div>
    </div>
    
    
    
    <div class='form-group'>
    <label for="password" class='col-sm-6 control-label'>{{ 'security.login.password'|trans }}</label>
    <div class='col-sm-6'>
    <input type="password" id="password" name="_password" class="form-control" required="required" />
    </div>
    </div>
    
    <div class='form-group'>
    <div class='col-sm-6'>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <div class='col-sm-6'>
    <input type="submit" id="_submit" class='btn rTCGreen' name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
    </div>
    
    <div class='form-group'>
    <div class='col-sm-6 col-sm-offset-6'>
        <a href='#' class='rTCPinkText'>Mot de passe oublié?</a>
    </div>
    </div>
    
    </div>
</form>
{% endblock fos_user_content %}

{% block location %}
    <a href="{{ path('_lostbook_homepage') }}" class="rTCBlackText">Paramètres >> Connexion</a>
{% endblock %}
